.App {
  height: 100%;
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  flex-basis: 20%;
}

.App-container {
  width: 100%;
  flex-basis: 80%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.Leaderboard {
  flex-basis: 25%;
}

.Leaderboard-AudioClipContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: flex-start;
  max-height: 400px;
  overflow: scroll;
}

.EvolutionStep {
  flex-basis: 75%;
}

.EvolutionStep-AudioClipContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.AudioClip {
  min-width: 50px;
  min-height: min-content;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: center;
}

.button {
  margin: 3px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  background-color: #eee;
  color: #222;
  min-height: 25px;
}

.select-button {
  color: #0b0;
}

.start-button {
  font-size: 150%;
}
